<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DhiraaguReportsData</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b79e6f">  <td>19/11/29 15:32:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTeamSetUpTestCase.addTeamSetUpTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.AddTeamSetUpTestCase@704921a5]">addTeamSetUpTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="b79e6f">  <td>19/11/29 15:32:32</td>   <td>18659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTeamSetUpTestCase.closeDriver()[pri:0, instance:com.qa.testCases.AddTeamSetUpTestCase@704921a5]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="b79e6f">  <td>19/11/29 15:32:01</td>   <td>-13213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddTeamSetUpTestCase.setUp()[pri:0, instance:com.qa.testCases.AddTeamSetUpTestCase@704921a5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:32:33</td>   <td>18889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScenarioWiseTestCases.setUp()[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:32:52</td>   <td>38020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScenarioWiseTestCases.setUp()[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:09</td>   <td>55360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScenarioWiseTestCases.setUp()[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:28</td>   <td>73778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScenarioWiseTestCases.setUp()[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:48</td>   <td>93943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ScenarioWiseTestCases.setUp()[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:32:44</td>   <td>30268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioWiseTestCases.verifyCBSTasksTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">verifyCBSTasksTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:04</td>   <td>49797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioWiseTestCases.verifyCBSTasksTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">verifyCBSTasksTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:21</td>   <td>67553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioWiseTestCases.verifyCBSTasksTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">verifyCBSTasksTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:33:41</td>   <td>86721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioWiseTestCases.verifyCBSTasksTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">verifyCBSTasksTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
<tr bgcolor="d47cee">  <td>19/11/29 15:34:00</td>   <td>106421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioWiseTestCases.verifyCBSTasksTestCase(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.ScenarioWiseTestCases@df27fae]">verifyCBSTasksTestCase</td> 
  <td>main@1392906938</td>   <td></td> </tr>
</table>
