<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:29:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DhiraaguCreateAndAssignTaskTestCase.setUp()[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:31:24</td>   <td>117560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DhiraaguCreateAndAssignTaskTestCase.setUp()[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:29:39</td>   <td>11777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DhiraaguCreateAndAssignTaskTestCase.testCase01(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">testCase01</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:32:08</td>   <td>161478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DhiraaguCreateAndAssignTaskTestCase.testCase01(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">testCase01</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:32:08</td>   <td>161485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DhiraaguCreateAndAssignTaskTestCase.testCase01(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">testCase01</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:32:08</td>   <td>161488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DhiraaguCreateAndAssignTaskTestCase.testCase01(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">testCase01</td> 
  <td>main@1768792843</td>   <td></td> </tr>
<tr bgcolor="a7af78">  <td>19/12/02 08:32:08</td>   <td>161493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DhiraaguCreateAndAssignTaskTestCase.testCase01(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testCases.DhiraaguCreateAndAssignTaskTestCase@f2ff811]">testCase01</td> 
  <td>main@1768792843</td>   <td></td> </tr>
</table>
